@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;

    box-sizing: border-box;
} 

body{
    background-repeat: none;
    background: linear-gradient(135deg,#153677,#4e085f);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.container{
    width: 500px;
    height: 600px;
    padding: 30px 30px;
    border-radius: 12px;
    background-color: white;
    overflow-y: auto;
}
.container::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

.container::-webkit-scrollbar-track {
    background: white; /* Background of the scrollbar track */
}

.container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners of the scrollbar thumb */
}

.container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb when hovered */
}

.newTodo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
#input-box{
    outline:none;
    border: none;
    background-color: #edeef0;
    border-radius: 40px;
    padding: 15px 20px;
    width: 100%;
}

#add_button{
    border-radius: 40px;
    border:none;
    padding: 15px 10px;
    width:100px;
    margin-left: 10px;
    cursor: pointer;
    background-color: rgb(210, 54, 54);
    color: white;
}

h1{
    /* font-size:35px; */
    color:#002765;
    text-align: center;
    margin-bottom: 20px;
}
.strike_through{
    text-decoration:line-through;
    color: #555555da;
}

.ckbox{
    height: 28px;
    width: 28px;
    cursor: pointer;
    /* accent-color: rgb(20, 235, 20); */
}
.XButton{
    height: 32px;
    width: 32px;
    padding: 0px 5px;
    /* line-height: 40px; */
    border-radius: 50%;
    border-style: none;
    color: white;
    background-color: rgb(210, 54, 54);
    cursor: pointer;
    margin-right: 25px;
}

.todo_Div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paragraph{
    width: 100%;
    /* color: black; */
    padding:10px 5px;
    margin:0px 10px;
    font-size: large;

}